<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/main.css" rel="stylesheet">
        <title>main</title>
    </head>
    <body>
        <div id="container">
            <div id="main">
                <h1>openvino</h1>
                <img src="{{ url_for('video_feed') }}" class="img-fluid rounded"><br>
                <div class="btn-group img-fluid" role="group">
                    {% for filter in mode.keys() %}
                        <input type="checkbox" class="btn-check" id="{{filter}}" autocomplete="off">
                        <label onclick="sendCommand('{{filter}}')" class="btn btn-outline-primary" for="{{filter}}">{{filter}}</label>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="../static/js/sendCommand.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
